<html>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="span12 header">
      <h1>Pulls Web</h1>
    </div>
    <div class="span6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="column-repository">Repository</th>
          <th class="column-pull-requests">Pull Requests</th>
          <th class="column-user">User</th>
        </tr>
      </thead>
      <tbody>
        {{range $repo := .Repos}}
        <tr>
        <td>{{$repo.Name}}</td>
        {{range $pr := $repo.PullRequests}}
        <td><a href="{{$pr.HTMLURL}}">{{$pr.Title}}</a></td>
        <td><img src="{{$pr.User.AvatarURL}}" style="width:25px">{{$pr.User.Login}}</td>
        {{end}}
        {{end}}
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</body>
</html>
